@*@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
*@

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width"/>
        <title>Party!</title>
    </Head>
    <body>
        <div>
            <div>
                We're going to have an exciting party.<br />
                (To do: sell it better. Add pictures or something.)
            </div>
            <a asp-action="RsvpForm">RSVP Now</a>
        </div>
    </body>
</html>
