@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model PartyInvites.Models.GuestResponse
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>RsvpForm</title>
</head>
<body>
    <form asp-action="RsvpForm" method="post">
    <div>
        <label asp-for="Name">Your name:</label>
        <input asp-for="Name" />
    </div>
    <div>
        <label asp-for="Email">Your email:</label>
        <input asp-for="Email" />
    </div>
    <div>
        <label asp-for="Phone">Your Phone:</label>
        <input asp-for="Phone" />
    </div>
    <div>
        <label>Will you attend?</label>
        <select asp-for="WillAttend">
            <option value="">Choose an option</option>
            <option value="true">Yes, I'll be there</option>
            <option value="false">No, I can't come</option>
        </select>
    </div>
    <button type="submit">Submit RSVP</button>
    </form>
</body>
</html>


